<!doctype html>
<html lang="kr" ng-app>
  <head>
    <title>인서브 스토리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">

  
    
    <style>
	.layout{	
	    
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
      }
	  
     
      @font-face {
								font-family:'NanumGothic';
								src: url('images/NanumGothic.eot');
								src: url('images/NanumGothic.eot?#iefix') format('embedded-opentype'),
									 url('images/NanumGothic.woff') format('woff'),
									 url('images/NanumGothic.ttf') format('truetype');
								font-weight: normal;
								font-style: normal;
							 }
      body {
				
				padding-top: 60px;
				font-family:'맑은고딕' 'NanumGothic', 'MalgunGothic';		
				padding-left: 100px;
				padding-right: 100px;
				width: 1000px;
		}
      #div1 {width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;}
      
    </style>
    
    <script>
     
    </script>
  </head>
  <body>
  <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
		  		      <a href="/" title="insubstory">
                          <img src="/img/insubstory3.png" alt="insubstory.com" width="327" height="109"></a>
						
          <div class="pull-right">
		
		      <a href="/ebook" class="brand">전자책(EPUB) </a>
			 <a href="http://cafe.naver.com/jhbks" class="brand">전자책 제작 커뮤니티 </a>
		     <a href="/blog" class="brand">블로그  모음</a>
			 <a href="/service" class="brand">웹서비스 모음</a>
			 <a href="https://www.facebook.com/insubstory" class="brand">페이스북  페이지</a>  
			 <a href="/download" class="brand">다운로드 </a>		
			 <br>
			 
          </div>
        </div>
      </div>					
      <div class="page-header">
	  <br<><br><br><br>
            <center>          
              			  
        <div class="layout">			
						

	 <h3><img src="/img/pc.png" alt="insubstory.com" width="30" height="30"> 2000년대 웹 서비스</h2>  
<br>
	   <section>
	   <article>
	   <h5 class="font_dotum" ><img src="/img/cart.png" alt="insubstory.com" width="30" height="30">  오픈마켓</h5>
		<h6 class="Nanum Gothic"><a href="http://www.11st.co.kr/html/main.html" class="brand">11번가  | </a>
		<a href="http://www.interpark.com/" class="brand">인터파크   | </a>
		<a href="http://www.auction.co.kr/" class="brand">옥션   | </a>
		<a href="http://www.gmarket.co.kr/" class="brand">G 마켓 </a></h6>
		</article>
	</section>
	     <section>
	   <article>
	<h4 class="font_dotum" ><img src="/img/blog.png" alt="insubstory.com" width="30" height="30">     블로그</h4>
		 <h6  class="Nanum Gothic"><a href="http://section.blog.naver.com/main/BuddyPostList.nhn" class="brand">네이버 블로그  | </a>
		 <a href="http://www.tistory.com/" class="brand">티스토리  |   </a>
		 <a href="http://www.egloos.com/" class="brand">이글루스  |   </a>
		 <a href="https://ko.wordpress.com/" class="brand">워드프레스  |  </a>
		 <a href="http://www.blogger.com/" class="brand">구글 블로거   </a>
		 </h6>
	   </article>
	   </section>
	    
	   <section>
	   <article>
	<h4 class="font_dotum" ><img src="/img/cafe.png" alt="insubstory.com" width="30" height="30">    카페</h4>
		 <h6 class="Nanum Gothic"><a href="http://top.cafe.daum.net/" class="brand">다음 카페  |</a>
		 <a href="http://section.cafe.naver.com/" class="brand">네이버 카페  |</a>
		 <a href="https://groups.google.com" class="brand">구글 그룹스 </a>
		 </h6>
	   </article>
	   </section>
	   <section>
	  <article>
	    <h4 class="font_dotum" ><img src="/img/tv.png" alt="insubstory.com" width="30" height="30"> 방송</h4>
		<h6  class="Nanum Gothic"> <a href="http://k.kbs.co.kr/" class="brand">KBS  |</a>
		 <a href="http://www.imbc.com/" class="brand">MBC  |</a>
		 <a href="http://www.sbs.co.kr/main.do" class="brand">SBS  |</a>
		  <a href="http://www.ytn.co.kr/" class="brand">YTN</a>
		 </h6>
	  </article>
	  </section>
	   
	    <section>
	    <article>
	     <h4 class="font_dotum" ><img src="/img/news.png" alt="insubstory.com" width="30" height="30">     신문</h4>
		 <h6  class="Nanum Gothic"><a href="http://pdf.hani.co.kr/PaperList.aspx" class="brand">한겨레 PDF </a>
		 <a href="http://www.hankooki.com/" class="brand">한국일보   | </a>
		 <a href="http://www.khan.co.kr/" class="brand">경향신문   | </a>
		 <a href="http://www.donga.com/" class="brand">동아일보    |</a>
		 <a href="http://www.chosun.com/" class="brand">조선일보    |</a>
		 <a href="http://joongang.joins.com/" class="brand">중앙일보  </a>
		 </h6>
	   </article>
	   </section>
	   
	   
	   <section>
	   <article>
	    <h4 class="font_dotum" > <img src="/img/game.jpg" alt="insubstory.com" width="30" height="30"> 게임</h4>
		 <h6 class="Nanum Gothic"><a href="http://www.ea.com/" class="brand">EA GAMES  |</a>
		 <a href="http://kr.blizzard.com/ko-kr/" class="brand">블리자드  |</a>
		  <a href="http://www.leagueoflegends.co.kr/" class="brand">리그오브레전드  |</a>
		  <a href="http://kr.ncsoft.com/korean/" class="brand">NC 소프트   |</a>
		  <a href="http://www.nexon.com/Home/Game.aspx" class="brand">넥슨 </a>
		  </h6>
		   </article>
	   </section>
	   
	   <section>
	   <article>
	   <h4 class="font_dotum" ><img src="/img/portal.png" alt="insubstory.com" width="30" height="30">  포털</h4>
		 <h6 class="Nanum Gothic"><a href="http://www.naver.com/" class="brand">네이버  | </a>
		 <a href="http://www.daum.net/" class="brand">다음  | </a>
		 <a href="http://zum.com/" class="brand">줌  |</a>
		 <a href="http://www.nate.com/" class="brand">네이트 </a>
		 </h6>
	   </article>
	   </section>
   <section>
	   <article>
	  <h4 class="font_dotum" > <img src="/img/email.png" alt="insubstory.com" width="30" height="30">  이메일</h4>
		<h6 class="Nanum Gothic"> <a href="http://www.gmail.com/" class="brand">지메일 </a>	</h6>	 
	   </article>
	   </section>
      
	   <section>
	   <article>
	 <h4 class="font_dotum" > <img src="/img/pds.png" alt="insubstory.com" width="30" height="30">    자료실</h4>
		<h6 class="Nanum Gothic"> <a href="http://file.daum.net/" class="brand">다음 자료실 |</a>  
		 <a href="http://software.naver.com/" class="brand">네이버  자료실</a></h6>
	   </article>
	   </section>
	     
<br>
<br>  
 <br>
 <br>
<h3><img src="/img/smartphone.png" alt="insubstory.com" width="30" height="30"> 2010년대 웹 서비스</h3> 
<br>
	   <section>
	   <article>
	   <h4 class="font_dotum" ><img src="/img/sns.png" alt="insubstory.com" width="30" height="30">  SNS</h4>
		<h6  class="Nanum Gothic"> <a href="https://www.facebook.com" class="brand">페이스북   |</a>
		 <a href="https://story.kakao.com/s/login" class="brand">카카오스토리  | </a>
		 <a href="https://twitter.com/" class="brand">트위터  </a>
		 </h6>
	   </article>
	   </section>
	    <section>
	  <article>
	     <h4 class="font_dotum" ><img src="/img/app.jpg" alt="insubstory.com" width="30" height="30">애플 앱스토어</h4>
	   	 <h6  class="Nanum Gothic"><a href="http://www.apple.com/kr/itunes/charts/" class="brand">아이튠즈  차트 </a></h6>
	  </article>
	  </section>
	  
	  <section>
	  <article>
	  <h4 class="font_dotum" ><img src="/img/and.jpg" alt="insubstory.com" width="30" height="30">   구글  앱스토어</h4>
		<h6  class="Nanum Gothic"> <a href="https://play.google.com/store" class="brand">구글 플레이 </a></h6>
	  </article>
	  </section>

	  <section>
	   <article>
	 <h4 class="font_dotum" ><img src="/img/ms2.jpg" alt="insubstory.com" width="30" height="30">     MicroSoft 앱스토어</h4>
		 <h6  class="Nanum Gothic"><a href="http://www.microsoftstore.com/" class="brand">마이크로소프트 앱 스토어</a></h6>
	   </article>
	   </section>
	  
	
	<section>	
		<article>
	    <h4 class="font_dotum" ><img src="/img/socialsh.png" alt="insubstory.com" width="30" height="30"> 	쇼셜 쇼핑</h4>
		<h6  class="Nanum Gothic"><a href="http://www.coupang.com/" class="brand">쿠팡 </a></h6>
		</article>
	  </section>
	  
	  <br>
	   
	     <section>
	    <article>
    	<h4 class="font_dotum" ><img src="/img/foreign.png" alt="insubstory.com" width="30" height="30"> 	해외 직구</h4>
         	<h6  class="Nanum Gothic"><a href="http://www.amazon.com/" class="brand">아마존  | </a>
            <a href="http://korean.alibaba.com/" class="brand">알리바바</a>
			</h6>
	   </article>
	   </section>
			   
	   <section>
	   <article>
	 <h4 class="font_dotum" ><img src="/img/wiki.png" alt="insubstory.com" width="30" height="30">     위키</h4>
		 <h6  class="Nanum Gothic"><a href="http://ko.wikipedia.org/" class="brand">위키피디아 </a></h6>
		 
	   </article>
	   </section>
	    
	
	  

	   
	   <section>
	   <article>
	<h4 class="font_dotum" >  <img src="/img/cloud.png" alt="insubstory.com" width="30" height="30">   클라우드</h4>
	<h6  class="Nanum Gothic">	 <a href="https://www.dropbox.com/" class="brand">드롭박스 </a></h6>
	   </article>
	   </section>
	   
	    <section>
	   <article>
	  <h4 class="font_dotum" >  <img src="/img/message.png" alt="insubstory.com" width="30" height="30">  메신져/ 채팅</h4>
		<h6  class="Nanum Gothic"> <a href="https://www.google.co.kr/hangouts/" class="brand">구글 행아웃  | </a>
		  <a href="https://telegram.org/" class="brand">텔레그램  </a></h6>
	   </article>
	   </section>
	    
	  
	   
	
</div>
        <script src
    <div class="container" ng-controller="ChatController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
             <a href="http://www.nexple.net" class="brand">넥스플</a>
          </div>
        </div>
      </div>
    
	 

  </body>
   <footer>
  
             <div class="foot">

					  <a href="http://cafe.naver.com/travelcoffee" class="brand">마젤란벅스</a> |
					 <a href="http://cafe.naver.com/reviewgoodmovie" class="brand">시네톡</a> |
					 <a href="http://cafe.naver.com/kilumbds" class="brand">길음 부동산</a> |
					 <a href="http://cafe.naver.com/skyfashion" class="brand">씨엘패션</a> |
					 <a href="http://cafe.naver.com/contryboy" class="brand">도시농민</a><br> 
					 <a href="http://cafe.naver.com/dreamofguitar" class="brand">일본여행 모임</a> |
					 <a href="http://cafe.naver.com/dreamofguitar" class="brand">음악만들기 모임</a><br>
					 <a href="http://cafe.naver.com/bukakmoutain" class="brand">이스트 페이스</a> |
					 <a href="http://smartsijang.appspot.com/" class="brand">  스마트시장</a> |
					<a href="http://sensormang.appspot.com/" class="brand">센서망</a> |
					<a href="http://subwaytour.appspot.com/" class="brand">지하철 여행/택배</a><br>
					<a href="http://beetlesmarket.appspot.com/" class="brand">비틀즈마켓</a><br>
					<a href="http://smartphonekorea.appspot.com/" class="brand">스마트폰 코리아</a>
					<a href="http://bicyclemanager.appspot.com/" class="brand">자전거 매니저</a><br>
					<a href="http://appmanmo.appspot.com/" class="brand">앱 만들기 모임</a>
					<a href="http://japantavel.appspot.com/" class="brand">일본여행</a>
	   
            </div>
    </footer>
</html>
