<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>
<body>

	
 <form name="user"  method="post" action="/register" >
      <div>
        <label>이메일 등록</label>
        <input type="text" name="email" />
        <br/>
      </div>
      <div>
        <label>이름 </label>
        <input type="text" name="name" />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
</body>
</html>
